<div class="services-container-bg">
  <div class="services-container">
    <h1>All Services</h1>
    <div class="service-box-container">
      <a href="/services/cleaning">
        <div class="service-box" id="cleaning">
          <%= image_tag 'cleaning-icon.png', alt: "alpha home cleaning" %>
          <h2>Cleaning<br>Services</h2>
        </div>
      </a><!-- Cleaning Services -->

      <a href="/services/carwash">
        <div class="service-box" id="carwash">
          <%= image_tag 'car-wash.png', alt: "alpha home car wash" %>
          <h2>Car<br>Wash</h2>
        </div>
      </a><!-- Car Wash -->

      <a href="/services/plumbing">
        <div class="service-box" id="plumbing">
          <%= image_tag 'plumbing-icon.png', alt: "alpha home plumbing" %>
          <h2>Plumbing</h2>
        </div>
      </a><!-- Plumbing -->

      <a href="/services/electric">
        <div class="service-box" id="electric">
          <%= image_tag 'electric-icon.png', alt: "alpha home electric help" %>
          <h2>Electric<br>Help</h2>
        </div>
      </a><!-- Electric -->

      <a href="/services/painting">
        <div class="service-box" id="painting">
          <%= image_tag 'painting-icon.png', alt: "alpha home painting" %>
          <h2>Painting</h2>
        </div>
      </a><!-- Painting -->

      <a href="/services/chefs">
        <div class="service-box" id="chefs">
          <%= image_tag 'cooking-icon.png', alt: "alpha home cooking" %>
          <h2>Personal Chefs</h2>
        </div>
      </a><!-- Cooking -->

      <a href="/services/security">
        <div class="service-box" id="security">
          <%= image_tag 'security-icon.png', alt: "alpha home security" %>
          <h2>Security Guards</h2>
        </div>
      </a><!-- Security Guards -->

    </div><!-- Service Box Container -->
  </div><!-- Services Container -->
</div><!-- Services Container BG -->