<div class="footer-container-bg">
  <div class="footer-container">
    <div>
     <ul>
      <li><%= link_to 'FAQ', '#' %></li>
      <li><%= link_to 'About', '#' %></li>
      <li><%= link_to 'Careers', '#' %></li>
      <li><%= link_to 'Contact', '#' %></li>
      <li><%= link_to 'Be an Alpha Professional', '#' %></li>
     </ul>
    </div>
    <div>
      <ul style="color: #6E6E6E">
        <li class="bold">LOCATIONS</li>
        <li>Kilimani</li>
        <li>Lavington</li>
        <li>Kileleshwa</li>
        <li>Hurlingham</li>
        <li>Westlands</li>
        <li>Karen</li>
        <li>Runda</li>
      </ul>
    </div>
    <div>
      <ul style="color: #6E6E6E">
        <li class="bold">POPULAR SERVICES</li>
        <li><%= link_to 'Home Cleaning', '#' %></li>
        <li><%= link_to 'Car Wash', '#' %></li>
        <li><%= link_to 'Electric', '#' %></li>
        <li><%= link_to 'Painting', '#' %></li>
        <li><%= link_to 'Chefs', '#' %></li>
        <li><%= link_to 'Security Guards', '#' %></li>
        <li><%= link_to 'See Other Services', '#' %></li>
      </ul>
    </div>
    <div>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
    <hr>
    <div id="bottom-links">
      <div id="footer-links">
        <%= link_to 'Privacy Policy', '#' %>
        <%= link_to 'Terms of Use', '#' %>
      </div>
      <div id="copyright">
        <i class="fa fa-copyright"> 2014 Alpha Home. All rights reserved.</i>
      </div>
    </div>
  </div><!-- Footer Container -->
</div><!-- Footer BG -->